@font-face{
    font-family: "Source Han Serif CN-Medium";
    src: url("https://raw.githubusercontent.com/adobe-fonts/source-han-serif/release/SubsetOTF/CN/SourceHanSerifCN-Medium.otf");
}

body{
    font-family: Georgia, "Times New Roman", "Source Han Serif CN-Medium", NSimsun;
}

/* header & footer */
@media (max-width: 767px) {
    #header-navbar-collapse-menu{
        width: 0;
    }
}

#site-search{
    width: 300px;
}

#footer-links{
    margin: 0 auto;
}

#footer-links-group{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}