@font-face{
    font-family: "Source Han Serif CN-Medium";
    src: url("https://github.com/adobe-fonts/source-han-serif/raw/release/SubsetOTF/CN/SourceHanSerifCN-Medium.otf");
}

body{
    font-family: Georgia, "Times New Roman", "Source Han Serif CN-Medium", NSimsun;
}

/* header & footer */
.page-header{
    background-color: #139494;
}

.site-search{
    width: 300px;
}

.page-footer{
    background-color: #139494;
}

.footer-links{
    width: 200px;
    margin: 0 auto;
}

.footer-links-group{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}