@font-face{
    font-family: "Source Han Serif CN-Medium";
    src: url("https://raw.githubusercontent.com/adobe-fonts/source-han-serif/release/SubsetOTF/CN/SourceHanSerifCN-Medium.otf");
}

*{
    font-family: Georgia, "Times New Roman", "Source Han Serif CN-Medium", NSimsun;
}

/* header & footer */
#site-search{
    max-width: 300px;
}

@media (max-width: 575px){
    #site-search{
        margin-left: auto;
    }
}

#footer-links{
    margin: 0 auto;
}

#footer-links-group{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}